<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=16ef3e47337d70c66bfabe07d24311a7&libraries=services"></script>

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>장소검색 서비스</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div class="frame">
        <div class="header">
            <div class="logo">장소 검색 서비스</div>
            <div class="login">
	            Hello, <span id="userName" th:text="${#authentication.name}">user</span>.
	            <form th:action="@{/logout}" method="post">
	                <input class="loginBtn" type="submit" value="Log Out"/>
	            </form>
            </div>
        </div>
        <div class="container">
            <div id="react"></div>
        
            <script src="built/bundle.js"></script>
        </div>
        <div class="footer">
            <p class="copyright">&copy;dskim <a href="https://github.com/dazzul94/spring-react-map" target="_blank">github</a></p>
        </div>
    </div>
</body>
</html>